html {
  -webkit-text-size-adjust: 100%;
  box-sizing: border-box;
  -moz-tab-size: 4;
  -o-tab-size: 4;
     tab-size: 4;
  word-break: normal;
}

*, :after, :before {
  background-repeat: no-repeat;
  box-sizing: inherit;
}

:after, :before {
  text-decoration: inherit;
  vertical-align: inherit;
}

* {
  margin: 0;
  padding: 0;
}

hr {
  color: inherit;
  height: 0;
  overflow: visible;
}

details, main {
  display: block;
}

summary {
  display: list-item;
}

small {
  font-size: 80%;
}

[hidden] {
  display: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

a {
  background-color: transparent;
}

a:active, a:hover {
  outline-width: 0;
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
}

pre {
  font-size: 1em;
}

b, strong {
  font-weight: bolder;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

table {
  border-color: inherit;
  text-indent: 0;
}

iframe {
  border-style: none;
}

input {
  border-radius: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

button, input, optgroup, select, textarea {
  font: inherit;
}

optgroup {
  font-weight: 700;
}

button {
  overflow: visible;
}

button, select {
  text-transform: none;
}

[role=button], [type=button], [type=reset], [type=submit], button {
  cursor: pointer;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button;
}

button, input, select, textarea {
  background-color: transparent;
  border-style: none;
}

a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline-width: 0;
}

select {
  -moz-appearance: none;
  -webkit-appearance: none;
}

select::-ms-expand {
  display: none;
}

select::-ms-value {
  color: currentColor;
}

legend {
  border: 0;
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  color: inherit;
  font: inherit;
}

[disabled] {
  cursor: default;
}

img {
  border-style: none;
}

progress {
  vertical-align: baseline;
}

[aria-busy=true] {
  cursor: progress;
}

[aria-controls] {
  cursor: pointer;
}

[aria-disabled=true] {
  cursor: default;
}

html {
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
}

body {
  line-height: 1.7em;
  background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
  font-weight: 400;
}

a,
a:visited,
a:hover,
a:active {
  text-decoration: none;
  color: inherit;
}

ol, ul, li {
  list-style-type: none;
}

.l-body {
  background-size: cover;
  background-position: center top;
  background-image: url(../../img/top-left.png);
}

.l-footer {
  width: 100%;
  height: auto;
  background-image: url(../img/blue-back.png);
}

.l-main {
  width: 100%;
  height: auto;
  background-color: #ffffff;
  position: relative;
  z-index: -100;
}
.l-main__bg-green {
  padding: 30px 18%;
  background-color: rgba(247, 255, 247, 0.7);
}
.l-main__contentsArea {
  padding: 0 15%;
}
.l-main__textArea {
  padding: 0 15%;
}

.c-center__text {
  text-align: center;
}

.c-center__block {
  margin-right: auto;
  margin-left: auto;
}

.c-center__middle {
  vertical-align: middle;
}

.c-center__alignCenter {
  align-items: center;
}

.c-center__inlineBlock {
  display: inline-block;
  text-align: center;
}

.c-circle__lightgreen {
  width: 117px;
  height: 117px;
  border-radius: 50%;
  background-color: #E8F2F1;
}
.c-circle__green {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background-color: #7DCDC6;
  text-align: center;
  line-height: 64px;
}
.c-circle__miru {
  display: inline-block;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  background-color: #7DCDC6;
  text-align: center;
  line-height: 140px;
}
.c-circle__miru > p {
  line-height: 120%;
}
.c-circle__scroll {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  background: #7DCDC6;
  position: relative;
}
.c-circle__scroll::after {
  content: "";
  border-radius: 50%;
  width: 13px;
  height: 13px;
  background: #7DCDC6;
  position: absolute;
  bottom: -20px;
  left: 3px;
  right: 0;
}

.c-fontsize__32 {
  font-size: 32px;
  font-size: 2rem;
}
.c-fontsize__30 {
  font-size: 30px;
  font-size: 1.875rem;
}
.c-fontsize__24 {
  font-size: 24px;
  font-size: 1.5rem;
}
.c-fontsize__20 {
  font-size: 24px;
  font-size: 1.5rem;
}
.c-fontsize__18 {
  font-size: 18px;
  font-size: 1.125rem;
}
.c-fontsize__16 {
  font-size: 16px;
  font-size: 1rem;
}
.c-fontsize__14 {
  font-size: 14px;
  font-size: 0.875rem;
}

.c-gap__8 {
  gap: 8px;
}
.c-gap__16 {
  gap: 16px;
}
.c-gap__24 {
  gap: 24px;
}
.c-gap__32 {
  gap: 32px;
}
.c-gap__40 {
  gap: 40px;
}
.c-gap__48 {
  gap: 48px;
}
.c-gap__56 {
  gap: 56px;
}
.c-gap__64 {
  gap: 64px;
}
.c-gap__80 {
  gap: 80px;
}
.c-gap__120 {
  gap: 120px;
}

.c-img {
  max-width: 100%;
  height: auto;
}
.c-img__thumbnail {
  width: 320px;
  height: 200px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(/img/img-tanida.png);
}
.c-img__thumbnail-s {
  width: 160px;
  height: 100px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
  background-image: url(/img/img-tanida.png);
}
.c-img__nae-logo {
  width: 60px;
  height: 60px;
  background-size: contain;
  background-image: url(../../../img/naedeco-logo.png);
}
.c-img__icon {
  background-image: url(/img/figma-logo.png);
  background-size: contain;
  width: 25px;
  height: 25px;
}
.c-img__tag {
  background-image: url(/img/tag.svg);
  background-size: contain;
  width: 18px;
  height: 18px;
}
.c-img__nae {
  width: 320px;
  height: 200px;
  background-image: url(/img/nae.png);
  background-size: contain;
}
.c-img__darken {
  mix-blend-mode: darken;
}
.c-img__blue2D {
  left: 150px;
}

.c-margin__8 {
  margin: 8px 0;
}
.c-margin__16 {
  margin: 16px 0;
}
.c-margin__24 {
  margin: 24px 0;
}
.c-margin__32 {
  margin: 32px 0;
}
.c-margin__40 {
  margin: 40px 0;
}
.c-margin__48 {
  margin: 48px 0;
}
.c-margin__56 {
  margin: 56px 0;
}
.c-margin__80 {
  margin: 80px 0;
}
.c-margin__120 {
  margin: 120px 0;
}

.c-padding__articleBox {
  display: flex;
  justify-content: flex-end;
}

.c-positionR {
  position: relative;
}

.c-positionA {
  position: absolute;
}

.c-positon__new-circle {
  top: 26px;
  left: 26px;
}

.c-position__new-img {
  position: relative;
  top: 58px;
  left: 58px;
}

.c-position__articleBox {
  top: 40px;
  left: 200px;
}

.c-shadow__01 {
  filter: drop-shadow(0 4px 4px rgba(0, 0, 0, 0.25));
}

.p-article {
  padding: 0 3% 0 10%;
  max-width: 400px;
}

.p-link {
  align-items: flex-end;
  margin: 0 0 0 auto;
  gap: 10px;
}
.p-link__text {
  display: table-cell;
  vertical-align: middle;
  border-bottom: solid 3px #97dfb1;
}

.p-tag > a {
  border-bottom: 1px solid #7DCDC6;
  display: inline-block;
}

.p-menu {
  padding: 32px;
  background-color: white;
  opacity: 50%;
}

.p-top__title {
  margin: 20% 0 10% 0;
}
.p-top__title-margin {
  margin: 0 0 35px 0;
}
.p-top__head {
  position: relative;
}
.p-top__head-under {
  width: 100%;
  height: auto;
  position: relative;
}
.p-top__head-under > img {
  width: 100%;
  height: auto;
}
.p-top__background, .p-top__background05, .p-top__background04, .p-top__background03, .p-top__background02, .p-top__background01 {
  position: absolute;
  width: 100%;
  height: auto;
  opacity: 0.7;
}
.p-top__background01 {
  z-index: -1;
  padding: 0 5%;
  top: -10%;
}
.p-top__background02 {
  z-index: -2;
  padding: 0 5%;
  width: 80%;
  top: 9%;
}
@media screen and (min-width: 500px) {
  .p-top__background02 {
    top: 55%;
  }
}
@media screen and (min-width: 1280px) {
  .p-top__background02 {
    top: 65%;
  }
}
.p-top__background03 {
  z-index: -3;
  width: 85%;
  top: 6%;
  padding: 0 3%;
}
@media screen and (min-width: 500px) {
  .p-top__background03 {
    top: 50%;
  }
}
@media screen and (min-width: 1280px) {
  .p-top__background03 {
    top: 60%;
  }
}
.p-top__background04 {
  z-index: -1;
  padding: 0 30%;
  position: absolute;
  top: 100px;
}
@media screen and (min-width: 500px) {
  .p-top__background04 {
    top: 180px;
  }
}
@media screen and (min-width: 1280px) {
  .p-top__background04 {
    top: 200px;
  }
}
.p-top__background05 {
  z-index: -2;
  padding: 0 15%;
  position: absolute;
  top: 200spx;
}
@media screen and (min-width: 500px) {
  .p-top__background05 {
    top: 400px;
  }
}
@media screen and (min-width: 1280px) {
  .p-top__background05 {
    top: 480px;
  }
}
.p-top__comment {
  font-size: 32px;
  font-size: 2rem;
}

.u-color__green {
  color: #7DCDC6;
}

.u-color__black {
  color: #676767;
}

.u-color__yellow {
  color: #B6C230;
}

.u-color__blue {
  color: #43A5ED;
}

.u-color__pink {
  color: #DB93ED;
}

.u-color__lightgreen {
  color: #E8F2F1;
}

.u-color__white {
  color: #ffffff;
}

.u-font__NotoSerif {
  font-family: "Noto Serif JP", serif;
  font-weight: 300;
  line-height: 175%;
}

.u-font__Spartan {
  font-family: "League Spartan", sans-serif;
  font-weight: 300;
  line-height: 175%;
}
/*# sourceMappingURL=style.css.map */