@use "../../foundation/mixin" as *;

//文章を中央寄せにする（親要素に設定）
.c-center__text {
    text-align: center;
}

//ブロック要素を中央寄せにする（子要素に設定）
.c-center__block {
    margin: 0 auto;
}

//ブロック要素を中央寄せにする（親要素にtext-ailgn:center入れる）
.c-center__inlineBlock {
    display: inline-block;
}

//行中のテキストや画像などの内容の上下方向の揃え位置をセンターにする（子要素に設定）
.c-center__lineMiddle {
    vertical-align: middle;
}

//上下を真ん中にする
.c-center__updownCenter{
    align-items: center;
}

.c-center__inlineBlock {
    display: inline-block;
    text-align: center;
}