@use "../../foundation/mixin" as *;

.c-circle {
    border-radius: 50%;
    width: 20px;
    height: 20px;
    background: $green;

    &__scroll {
        border-radius: 50%;
        width: 20px;
        height: 20px;
        background: $green;
        position: relative;
    }
    &__scroll::after {
        content: "";
        border-radius: 50%;
        width: 13px;
        height: 13px;
        background: $green;
        position: absolute;
        bottom: -20px;
        left: 3px;
        right: 0;
    }

    &-10 {
        @extend .c-circle;
        width: 10px;
        height: 10px;
    }
    &-8 {
        @extend .c-circle;
        width: 8px;
        height: 8px;
    }
    &-6 {
        @extend .c-circle;
        width: 6px;
        height: 6px;
    }
}