@use "../../foundation/mixin" as *;

.c-color__green {
    color: $green;
}

.c-color__black {
    color: $black;
}

.c-color__yellow {
    color: $yellow;
}

.c-color__blue {
    color: $blue;
}

.c-color__pink {
    color: $pink;
}

.c-color__lightgreen {
    color: $lightgreen;
}

.c-color__white {
    color: $white;
}