@use "../../foundation/mixin" as *;

.c-flex {
    display: flex;

    &__column 
    {
        @extend .c-flex;
        flex-direction: column;
    }

    &__flexEnd {
        @extend .c-flex;
        justify-content: flex-end;
    }
    
    &__center {
        @extend .c-flex;
        justify-content: center;
    }

    &__spaceBetween {
        @extend .c-flex;
        justify-content: space-between;
    }

    &__spaceAround {
        @extend .c-flex;
        justify-content: space-around;
    }
}