@use "../../foundation/mixin" as *;

.c-font__NotoSerif {
    font-family: 'Noto Serif JP', serif;
    font-weight: 300;
    line-height: 175%;
}

.c-font__Spartan {
    font-family: 'League Spartan', sans-serif;
    font-weight: 300;
    line-height: 175%;
}
