@use "../../foundation/mixin" as *;

.c-fontweight {
    &__400 {
        font-weight: 400;
    }
    &__500 {
        font-weight: 500;
    }
    &__600 {
        font-weight: 600;
    }
    &__700 {
        font-weight: 700;
    }
    &__800 {
        font-weight: 800;
    }
    &__900 {
        font-weight: 900;
    }

}