@use "../../foundation/mixin" as *;

.c-gap {
    &__8 {
        gap: 8px;
    }
    &__16 {
        gap: 16px;
    }
    &__24 {
        gap: 24px;
    }
    &__32 {
        gap: 32px;
    }
    &__40 {
        gap: 40px;
    }
    &__48 {
        gap: 48px;
    }
    &__56 {
        gap: 56px;
    }
    &__64 {
        gap: 64px;
    }
    &__80 {
        gap: 80px;
    }
    &__120 {
        gap: 120px;
    }
} 