@use "../../foundation/mixin" as *;

.c-margin {
    &__8 {
        margin: 8px 0;
    }
    &__16 {
        margin: 16px 0;
    }
    &__24 {
        margin: 24px 0;
    }    
    &__32 {
        margin: 32px 0;
    }    
    &__40 {
        margin: 40px 0;
    }    
    &__48 {
        margin: 48px 0;
    }
    &__56 {
        margin: 56px 0;
    }
    &__80 {
        margin: 80px 0;
    }
    &__120 {
        margin: 120px 0;
    }
}