@use "../../foundation/mixin" as *;

.c-margin {
    &__4 {
        margin-bottom: 4px;
    }    
    &__8 {
        margin-bottom: 8px;
    }
    &__16 {
        margin-bottom: 16px;
    }
    &__24 {
        margin-bottom: 24px;
    }    
    &__32 {
        margin-bottom: 32px;
    }    
    &__40 {
        margin-bottom: 40px;
    }    
    &__48 {
        margin-bottom: 48px;
    }
    &__56 {
        margin-bottom: 56px;
    }
    &__64 {
        margin-bottom: 64px;
    }
    &__80 {
        margin-bottom: 80px;
    }
    &__120 {
        margin-bottom: 120px;
    }
    &__432 {
        margin-bottom: 432px;
    }
}