@use "../../foundation/mixin" as *;

.c-margin__text {
    margin: 16px 0;
}

.c-margin__center {
    margin: 0 auto;
}

.c-margin__30 {
    margin: 30px 0;
}

.c-margin__60 {
    margin: 60px 0 30px 0;
}

.c-margin__10 {
    margin: 10px;
}

.c-margin__24 {
    margin: 24px 0;
}

.c-margin__new 
{
    margin-bottom: 300px;
}