@use "../../foundation/mixin" as *;

.p-link {
    align-items: flex-end;
    margin: 0 0 0 auto;
    // width: 250px;
    gap: 10px;

    &__text {
        display: table-cell;
        vertical-align: middle;
        border-bottom: solid 3px #97dfb1;
    }
}

.p-tag {
    > a {
        border-bottom: 1px solid #7DCDC6;
        display: inline-block;
    }
}