@use "../../foundation/mixin" as *;

.p-link {
    display: flex;
    align-items: center;
    gap: 5px;

    > span {
        @include rem(16);
        letter-spacing: 0.1em;
        font-family: 'Noto Serif JP', serif;
        font-weight: 300;
        color: $black;
    }
}

.p-tag {
    > a {
        border-bottom: 1px solid $green;
        display: inline-block;
    }
}